.connect {
    position: relative;

    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1350px) minmax(20px, 1fr);

    text-align: justify;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    margin-block-start: 3rem;
}

.connect>* {
    grid-column: 1 / 3;
}

.connect-container {
    display: grid;
    gap: 3rem;
}

.connect .connect-main-img {
    width: 100%;
    max-width: 100%;
    height: 70vh;
    object-fit: cover;

    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    filter: brightness(150%) saturate(50%) contrast(0.9);
}

.connect .connect-content {
    position: absolute;
    bottom: 10%;
    right: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: start;
}

.connect h1,
.connect p {
    margin: 0;
}

.connect h1 {
    font-family: Montserrat-Medium;
    font-size: 3rem;
}

.connect p {
    font-size: 1.2rem;
}

.connect .social {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.connect .social img {
    max-width: 3rem;
    max-height: 3rem;
    object-fit: contain;

    border-radius: 50%;
    padding: 0.5rem;
}

.connect .social a {
    position: relative;
    overflow: hidden;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;

    cursor: pointer;
    border: 1px solid var(--dark-gray2);
    border-radius: 50%;
    margin-inline-end: 1rem;
    margin-block-start: 1rem;
    line-height: 1;
}

.connect .social a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    background-color: var(--dark-gray2);
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.connect .social a:hover::before {
    transform: scale(1);
}

.connect .social img:hover {
    cursor: pointer;
    filter: saturate(0) brightness(1000%);
}