.project-details {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1350px) minmax(20px, 1fr);

    text-align: justify;
    color: var(--dark-gray2);
}

.project-details>* {
    grid-column: 2;
}

.project-main-img {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: contain;

    margin-block-start: 6rem;
    border: 1px solid var(--light-gray1);
}

.project-details h1 {
    position: relative;
    display: inline-block;

    margin: 0;
    margin-block-start: 2rem;

    font-size: 1.1rem;
    font-family: Montserrat-Medium;
}

.project-details h2 {
    margin: 0;
    margin-block: 0.5rem;
    font-family: Montserrat-Thin;
}

.project-details p {
    font-family: Montserrat-Light;
    font-size: 0.9rem;
}

.project-details .gallery {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin-block-start: 3rem;
}

.project-details .gallery-item {
    margin-block-start: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-details .gallery-item-imgs {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-items: start;
}

.project-details .gallery img {
    max-width: 300px;
    height: auto;
    max-height: 200px;
    object-fit: contain;

    border: 1px solid var(--light-gray1);
}

.project-details a {
    position: relative;
    overflow: hidden;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;

    cursor: pointer;
    border: 1px solid var(--dark-gray2);
    border-radius: 50%;
    margin-inline-end: 1rem;
    margin-block-start: 2rem;
    line-height: 1;
}

.project-details a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--dark-gray2);
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.project-details a:hover::before {
    transform: scale(1);
}

.project-details a img {
    max-width: 3rem;
    max-height: 3rem;
    object-fit: contain;

    padding: 0.5rem;
}

.project-details a img:hover {
    cursor: pointer;
    filter: saturate(0) brightness(1000%);
}

.project-details .project-link {
    all: unset;
    grid-column: 2;
    
    display: flex;
    align-items: center;

    margin-block-start: 1rem;
    font-family: Montserrat-Medium;
    text-transform: uppercase;
    font-size: 0.7rem;
    transition: color 0.3s ease;
}

.project-details .project-link::before {
    all: unset;
}

.project-details .project-link .arrow {
    margin-left: 8px;
    font-size: 0.5rem;
    transition: transform 0.3s ease;
    position: relative;
    top: 0.05rem;
}

.project-details .project-link:hover {
    cursor: pointer;
    color: var(--dark-gray4);
}

.project-details .project-link:hover .arrow {
    transform: translateX(5px);
}

.project-details .project-warning {
    font-family: Montserrat-Medium;
    font-size: 0.6rem;
    margin-block-start: 1rem;
}

@media (max-width: 650px) {
    .project-details .gallery-item-imgs {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}