.project-details {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1350px) minmax(20px, 1fr);
    text-align: justify;
    color: var(--dark-gray2);
}

.project-details>* {
    grid-column: 2;
}

.project-main-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-block-start: 6rem;
    border: 1px solid var(--light-gray1);
}

.project-details h1 {
    position: relative;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0;
    margin-block-start: 2rem;
    font-family: Montserrat-Medium;
}

.project-details h2 {
    font-family: Montserrat-Thin;
    margin: 0;
    margin-block: 0.5rem;
}

.project-details h3 {
    margin-block-end: 2rem;
}

.project-details p {
    font-family: Montserrat-Light;
    font-size: 0.9rem;
}

.project-details .gallery {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-block-start: 3rem;
}

.project-details .gallery-item-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: start;
}

.project-details .gallery img {
    max-width: 300px;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    border: 1px solid var(--light-gray1);
}

.project-details a {
    position: relative;
    overflow: hidden;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;

    cursor: pointer;
    border: 1px solid var(--dark-gray2);
    border-radius: 50%;
    margin-inline-end: 1rem;
    margin-block-start: 2rem;
    line-height: 1;
}

.project-details a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--dark-gray2);
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    top: 0;
    left: 0;
}

.project-details a:hover::before {
    transform: scale(1);
}

.project-details a img {
    max-width: 3rem;
    max-height: 3rem;
    object-fit: contain;
    padding: 0.5rem;
}

.project-details a img:hover {
    cursor: pointer;
    filter: saturate(0) brightness(1000%);
}

@media (max-width: 650px) {
    .project-details .gallery-item-imgs {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}