.skills {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1350px) minmax(20px, 1fr);
    place-items: center;

    padding-block-start: 3rem;
    text-align: justify;
}

.skills>* {
    grid-column: 2;
}

.skills h1 {
    position: relative;
    justify-self: start;
    display: inline-block;

    margin-block-end: 2.2rem;

    font-size: 1.1rem;
    text-align: start;
}

.skills h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1rem;

    width: 100%;
    height: 2px;

    background-color: var(--dark-gray2);
}

.skills h2 {
    font-size: 1rem;
}

.skill-slider {
    width: 100%;

    margin: 0;
    margin-block-start: 4rem;
    margin-block-end: 2rem;
}

.skill-slider .item  {
    display: flex;
    flex-direction: column;
    place-items: center;

    text-align: center;
}

.skill-slider .item h5 {
    font-family: Montserrat-Medium;
}

.skill-slider .item img {
    width: 30%;
    height: auto;
    max-height: 2.5rem;
    max-width: 2.5rem;

    margin: 0 auto 15px auto;
}

.react-multiple-carousel__arrow {
    z-index: 1 !important;
    top: 10% !important;
    scale: 0.7;
}

.react-multiple-carousel__arrow--right {
    right: 0 !important;
}

.react-multiple-carousel__arrow--left {
    left: 0 !important;
}

@media (max-width: 650px) {
    .skills {
        margin-inline: 0;
    }
}


