* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}


.App {
    font-family: Montserrat-Regular;
    color: var(--dark-gray2);
    background-color: white;
    line-height: 1.7;
}

.App>* {
    grid-column: 2;
}

.full {
    grid-column: 1 / -1;
}

ul,
li,
a,
button {
    all: unset;
}

h1 {
    font-family: Montserrat-Medium;
}

a:hover {
    cursor: pointer;
}